.container__modal{
    width: 100%;
    height: 100%;
    background-color: rgba(76, 80, 80, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: fixed;
    top: 0;
}

.conteudo__modal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;}

